<!DOCTYPE html>
<html>
    <head>
        <title>Gest.Dinis</title>
        <link rel="stylesheet" type="text/css" href="../wwwroot/css/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signin">
                <form action="../Controllers/processar_login.php" method="post">
                    <label for="chk" aria-hidden="true">Professores</label>
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="Password" name="pswd" placeholder="Password" required="">
                    <a class="signin-button" style="text-decoration: none"><button type="submit">Entrar</button></a>

                    <div class="signin-admin_container" >  <a class="signin-admin"  href="Login_Admin.html"  style="color: white">Admin</a> </div>
                </form>
            </div>

            <div class="registrar">
                <form action="processar_registar.php" method="post">
                    <label for="chk" aria-hidden="true">Registar</label>
                    <input type="text" name="text" placeholder="User name" required="">
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="Password" name="pswd" placeholder="Password" required="">
                    <a class="btn-registar" href="Admin.php"><button type="submit">Submeter</button></a>
                </form>
            </div>

        </div>

       <!-- <footer>

            <img src="../wwwroot/images/rp%20(1).png" alt="Logo 1" class="logo">
            <img src="../wwwroot/images/Escola.jpg" alt="Logo 2" class="logo">
            <img src="../wwwroot/images/logo.png" alt="Logo 3" class="logo">
        </footer>-->
    </body>
</html>