@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;

}

body {
    min-height: 100vh;
    background: url("../images/gest.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background:rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.admin-container{
    position: relative;
    top: 80px;
    padding: 10px 0;
}

.table-header-container th:first-child{
    border-radius: 10px 0 0 0;
}
.table-header-container th:last-child{
    border-radius: 0 10px 0 0;
}

.admin{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 550;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;

}

.navbar form{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    justify-content: space-between;
}

footer {
    background:rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
   align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    left: 0;
    z-index: 100;


}

.logo {
    width: 100px; /* Ajuste conforme necessário */
    height: 80px;
    margin: 4px;
    align-items: center;
    align-content: space-between;

}

.container-form-edit-reserva{
    width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 0;
    border-radius: 10px;
}
.link-go-admin{
    text-align: center;
}
.container-add-reservation{
    background-color: white;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}
.btn-add-reservation{
    margin: 10px 0;
}
.btn-go-to-reservation{
    display: block !important;
    margin: 10px 0;
}