
body {
    font-family: 'Arial', sans-serif;
    background:url("../images/gest.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.header {

    background:rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2 {
    color: #333;
}

.ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    cursor: pointer;
}